@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme {
 --color-spring: #20FC8F;
 --color-mineral: #3F5E5A;
 --color-lunar: #38423B;
 --color-metal: #353831;
 --color-tuatara: #2D2D2A;

}

.button {@apply inline-block p-4 rounded-xl bg-spring text-lunar text-2xl font-bold }
.button-secondary {@apply inline-block p-4 rounded-xl bg-mineral text-metal text-2xl font-bold }